/cfg/
/bin/
/lib/
/db/
/dbd/
/html/
/include/
/templates/
/configure/*.local
*~
O.*/
*.swp
*_BAK.adl
/bin/
/db/
/dbd/
/html/
/include/
/lib/
/templates/
/QtC-*
cdCommands
envPaths
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
